<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <userSettings>
    <Client.Properties.Settings>
      <setting name="MyAxisAccount" serializeAs="Xml">
        <value />
      </setting>
      <setting name="MainWindowConfiguration" serializeAs="Xml">
        <value>
          <WindowConfiguration xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <State>Maximized</State>
            <Location>
              <X>0</X>
              <Y>0</Y>
            </Location>
            <Size>
              <Width>1920</Width>
              <Height>1030</Height>
            </Size>
          </WindowConfiguration>
        </value>
      </setting>
      <setting name="HelpViewerNavigationWidth" serializeAs="String">
        <value>320</value>
      </setting>
      <setting name="LastLogin_LocalServerData" serializeAs="Xml">
        <value>
          <ServerData xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <AddressAndPort>localhost</AddressAndPort>
            <ServerId>00000000-0000-0000-0000-000000000000</ServerId>
            <IsRemoteAccessServer>false</IsRemoteAccessServer>
            <IsSavingCredentials>true</IsSavingCredentials>
            <IsUsingCurrentUser>true</IsUsingCurrentUser>
          </ServerData>
        </value>
      </setting>
      <setting name="IsAutoLogOn" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ServerLists" serializeAs="Xml">
        <value>
          <ServerLists xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <Lists>
              <ServerList>
                <Name>Admin Building</Name>
                <Servers>
                  <ServerData>
                    <Name>ADMNVR1</Name>
                    <AddressAndPort>admnvr1</AddressAndPort>
                    <ServerId>59972f28-d8a4-43ec-b6c1-9544177403f0</ServerId>
                    <IsRemoteAccessServer>false</IsRemoteAccessServer>
                    <IsSavingCredentials>true</IsSavingCredentials>
                    <IsUsingCurrentUser>true</IsUsingCurrentUser>
                  </ServerData>
                </Servers>
              </ServerList>
              <ServerList>
                <Name>District Attorney</Name>
                <Servers>
                  <ServerData>
                    <Name>DANVR1</Name>
                    <AddressAndPort>danvr1</AddressAndPort>
                    <ServerId>036069cf-0bf9-43dd-9e2d-bdb1d4521071</ServerId>
                    <IsRemoteAccessServer>false</IsRemoteAccessServer>
                    <IsSavingCredentials>false</IsSavingCredentials>
                    <IsUsingCurrentUser>false</IsUsingCurrentUser>
                  </ServerData>
                </Servers>
              </ServerList>
              <ServerList>
                <Name>Tuolumne Transit Center</Name>
                <Servers>
                  <ServerData>
                    <Name>TTCNVR1</Name>
                    <AddressAndPort>ttcnvr1</AddressAndPort>
                    <ServerId>1eb3fda0-f18a-492e-9b7d-797c835517d2</ServerId>
                    <IsRemoteAccessServer>false</IsRemoteAccessServer>
                    <IsSavingCredentials>true</IsSavingCredentials>
                    <IsUsingCurrentUser>true</IsUsingCurrentUser>
                  </ServerData>
                </Servers>
              </ServerList>
              <ServerList>
                <Name>Visitation Center</Name>
                <Servers>
                  <ServerData>
                    <Name>TGMNVR1</Name>
                    <AddressAndPort>tgmnvr1</AddressAndPort>
                    <ServerId>1578875d-cc6e-4002-ad96-2b2c7f424d9b</ServerId>
                    <IsRemoteAccessServer>false</IsRemoteAccessServer>
                    <IsSavingCredentials>true</IsSavingCredentials>
                    <IsUsingCurrentUser>true</IsUsingCurrentUser>
                  </ServerData>
                </Servers>
              </ServerList>
              <ServerList>
                <Name>TTC &amp; Courthouse Park</Name>
                <Servers>
                  <ServerData>
                    <Name>ADMNVR1</Name>
                    <AddressAndPort>admnvr1</AddressAndPort>
                    <ServerId>59972f28-d8a4-43ec-b6c1-9544177403f0</ServerId>
                    <IsRemoteAccessServer>false</IsRemoteAccessServer>
                    <IsSavingCredentials>true</IsSavingCredentials>
                    <IsUsingCurrentUser>true</IsUsingCurrentUser>
                  </ServerData>
                  <ServerData>
                    <Name>TTCNVR1</Name>
                    <AddressAndPort>ttcnvr1</AddressAndPort>
                    <ServerId>1eb3fda0-f18a-492e-9b7d-797c835517d2</ServerId>
                    <IsRemoteAccessServer>false</IsRemoteAccessServer>
                    <IsSavingCredentials>true</IsSavingCredentials>
                    <IsUsingCurrentUser>true</IsUsingCurrentUser>
                  </ServerData>
                </Servers>
              </ServerList>
              <ServerList>
                <Name>Information Technology</Name>
                <Servers>
                  <ServerData>
                    <Name>MSDNVR1</Name>
                    <AddressAndPort>msdnvr1</AddressAndPort>
                    <ServerId>2b425a61-6a66-4767-ac79-a76cf6462d8f</ServerId>
                    <IsRemoteAccessServer>false</IsRemoteAccessServer>
                    <IsSavingCredentials>true</IsSavingCredentials>
                    <IsUsingCurrentUser>true</IsUsingCurrentUser>
                  </ServerData>
                </Servers>
              </ServerList>
              <ServerList>
                <Name>Boat Patrol</Name>
                <Servers>
                  <ServerData>
                    <Name>SOBPNVR1</Name>
                    <AddressAndPort>sobpnvr1</AddressAndPort>
                    <ServerId>e9c142d5-88f8-4640-8742-cc60d8c87077</ServerId>
                    <IsRemoteAccessServer>false</IsRemoteAccessServer>
                    <IsSavingCredentials>false</IsSavingCredentials>
                    <IsUsingCurrentUser>true</IsUsingCurrentUser>
                  </ServerData>
                </Servers>
              </ServerList>
            </Lists>
            <MruList>
              <Name>Recent connections</Name>
              <Servers />
            </MruList>
          </ServerLists>
        </value>
      </setting>
      <setting name="ShouldUpgradeSettings" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsUsingCustomStartupServer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsAutoStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastSelectedServer" serializeAs="String">
        <value>e9c142d5-88f8-4640-8742-cc60d8c87077</value>
      </setting>
      <setting name="CustomStartupServer" serializeAs="String">
        <value>00000000-0000-0000-0000-000000000000</value>
      </setting>
      <setting name="LastLogin_LastUsedServers" serializeAs="Xml">
        <value>
          <ServerList xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <Servers />
          </ServerList>
        </value>
      </setting>
      <setting name="ServerLists_export_import_filepath" serializeAs="String">
        <value>C:\Users\jbsmith\Desktop</value>
      </setting>
      <setting name="PinnedCertificates" serializeAs="Xml">
        <value>
          <PinnedCertificates xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <PinnedCertificates />
          </PinnedCertificates>
        </value>
      </setting>
      <setting name="IsIncludeRemoteServersSelected" serializeAs="String">
        <value>False</value>
      </setting>
    </Client.Properties.Settings>
  </userSettings>
</configuration>